$primary-color: #BF7F40;
$secondary-color: #348295;
$third-color: #D46E6E;

$primary-bg-color: #1BA7C6;
$secondary-bg-color: #096A81;

$radius: clamp(8px, 2vw, 16px);

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;